---
import "@/styles/globals.css";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout>
	<div class="w-full h-screen">
		<div class="container">
			<div class="w-full h-screen flex justify-center items-center">
				<h1>Start</h1>
			</div>
		</div>
	</div>
    <div class="bg-green-200 w-full h-screen">
		<div class="container">
			<div class="w-full h-screen flex justify-center items-center">
				<h1>Start</h1>
			</div>
		</div>
	</div>
</MainLayout>
