---
import "@/styles/globals.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="w-full h-full">
		<div class="container">
			<div class="w-full h-screen flex justify-center items-center">
				<h1>Start</h1>
			</div>
		</div>
	</div>
</BaseLayout>
