---
import "@/styles/globals.css";
import Starfield from "@/components/Starfield.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<Starfield />
	<h1>Astro</h1>
</BaseLayout>
