<div class="fixed top-4 inset-x-0 z-50">
	<div class="max-w-2xl mx-auto px-8">
		<div class="w-full">
			<div
				class="relative flex justify-items-center flex-col w-full p-3 bg-white/10 ring-1 uppercase ring-white/20 backdrop-blur-2xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
			>
				
			</div>
		</div>
	</div>
</div>
