---
import '@/styles/globals.css';
import '@radix-ui/themes/styles.css';
import MainNavbar from '@/components/navigation/main-navbar';
---

<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <meta
            name='viewport'
            content='width=device-width'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <link
            rel='icon'
            href='favicon.svg'
        >
        <title>Photo Portfolio</title>
    </head>
    <body>
        <Theme>
            <MainNavbar client:load/>
            <main>
                <slot/>
            </main>
        </Theme>
    </body>
</html>
